body {
	margin:0;
	padding:0;
    background-color: #000;
	overflow:hidden;
	font:13px arial,sans-serif;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	border: 0px;
}

canvas {

	overflow:hidden;
	width:100%;

}

iframe {
	position:fixed;
	top:-10px;
}
