html, body { height:100%; }

#container {
    padding-top: 50px;
    height: 100%;
}


/* ---- Navbar ---- */

#nav-parent {
    position:absolute;
    top: 0;
    width: 100%;
}
#navbar {
    margin: 0;
    padding: 0 50px;
    box-shadow: 0 0 5px 0 #222;
}
#navbar li {
    border-right: solid 1px #345;
}
#navbar li:first-child {
    border-left: solid 1px #345;
}
#navbar a:focus {
    outline: none;
}

#experiments-dashboard {
    padding: 0 50px; height: 100%
}
#experiments-dashboard .panel-body {
    padding:0;
    position:relative;
    background: #E5E5E5;
}
#experiments-dashboard .experiment {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
    border: 1px solid #422816;
}
#experiments-dashboard .experiment-preview { width: 100% }
#experiments-dashboard .experiment .panel-heading { padding: 5px 10px; }



.experiment-container {
    height: 100%;
    padding: 1em 0 3em 0;
    position: relative;
}
.experiment-container.maximized {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 2em 0;
}

canvas.experiment-canvas {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 10px 0 rgba(8, 8, 8, 0.5);
}

canvas#arboles-experiment {
    background-color: #F0F0F0;
}

.canvas-controllers {
    position: absolute;
    width: 100%;
    height: 2em;
    bottom: 1em;
    background: #222;
    padding-left: 1em;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 10px 0 rgba(8, 8, 8, 0.5);
}

.maximized .canvas-controllers {
    bottom: 0;
}

.canvas-controllers i {
    color: #EEE;
    cursor: pointer;
    margin-right: 0.4em;
    font-size: 1.5em;
    margin-top: 0.25em;
}

#about-container {
    height: 100%;
}

/* ---- Logo ---- */

#logo-container {
    position:relative;
    top: 50%;
    font-size: 3em;
    margin-top: -3em;
    cursor: default;
    text-align: center;
}

#experiments-logo {
    font-size: 2em;
}

#logo-container p,
#experiments-logo p {
    margin: 0;
    overflow: hidden;
    text-shadow: 2px 2px 1px rgba(20, 20, 20, 1);
}

.top-logo span {
    position:relative;
    top: 0.65em;
}

#logo-container p.bottom-logo {
    padding-left: 0.07em;
    margin-top: 0.05em;
}

#experiments-logo p.bottom-logo {
    padding-left: 0.03em;
    margin-top: 0.05em;
}

.bottom-logo span {
    position:relative;
    bottom: 0.75em;
}

.orange-logo {
    color: #df691a;
}

/* ---- /Logo ---- */


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#about-text {
    position: relative;
    top: 50%;
}

.floating-description {
    border: 1px solid rgba(196, 196, 196, 0.5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 1em;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.5);
}