body {
	margin:0;
	padding:0;
	background-color:#0A0A0A;
	overflow:hidden;
	font:13px arial,sans-serif;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	border: 0px;
}

canvas {
	background-color:#FFFFFF;
	overflow:hidden;
	width:100%;

}

