body {
	background:#000000;
	margin:0;
	padding:0;
	overflow:hidden;
	font:13px arial,sans-serif;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	margin:0;
	padding:0;
	overflow:hidden;
	border: 0px;
}
