body, html {
	background-color: #101020;
	width:100%;
	height:100%;
	margin: 0;
}

#goBack {
	display:none;
	position:absolute;
	z-index:1;
	right:0;
	top:0;
	opacity:0.8;
	cursor:pointer;
}

#search {
	display:none;
	background-color: #244;
	position:absolute;
	top:40%;
	left:50%;
	width: 600px;
	height: 100px;
	margin: -50px 0 0 -300px;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.error {
	background-color:#401010 !important;
}

input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	width: 400px;
	height: 60px;
	font-size: 40px;
	outline: none;
	padding: 6px 0px 6px 6px;
	margin: 10px 2px 6px 30px;
	border: 2px solid #DDDDDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
 
input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 6px 0px 6px 6px;
	margin: 10px 2px 6px 30px;
	border: 2px solid rgba(81, 203, 238, 1);
}

button {
	width: 110px;
	height: 76px;
	font-size: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	border: none;
	margin-left:20px;
}

.loader {
	position:absolute;
	top:50%;
	left:50%;
	margin: -64px 0 0 -64px;
}

#kaleid4 {
	width:100%;
	height: 100%;

}

#kaleid4 > div{
	float:left;
	display: block;
	width:50%;
	height:50%;
	overflow:hidden;
	position:relative;
}

#kaleid4 > div > img{
	display: block;
	width:200%;
	height:200%;
	position:absolute;
}

.original, .flipH,
.flipV, .flipHV {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 60s, 60s, 60s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 60s, 60s, 60s;
}

.original {
	animation-name:moveUp, moveLeft, rotateTopLeft;
	-webkit-animation-name:moveUp, moveLeft, rotateTopLeft;
}

.flipH {
	animation-name:moveUp, moveRight, rotateTopRight;
	-webkit-animation-name:moveUp, moveRight, rotateTopRight;
}

.flipV {
	animation-name:moveDown, moveLeft, rotateBottomLeft;
	-webkit-animation-name:moveDown, moveLeft, rotateBottomLeft;
}

.flipHV, .flipVH {
	animation-name:moveDown, moveRight, rotateBottomRight;
	-webkit-animation-name:moveDown, moveRight, rotateBottomRight;
}

.noAnimation {
	animation: none 0 ease 0 1 normal none running !important;
	-webkit-animation: none 0 ease 0 1 normal none running !important;
}

.original.noAnimation {
	top:-40%;
	left:-40%;
}
.flipH.noAnimation {
	top:-40%;
	right:-40%;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}
.flipV.noAnimation {
	bottom:-40%;
	left:-40%;
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}
.flipHV.noAnimation {
	bottom:-40%;
	right:-40%;
	transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
}

@keyframes moveUp {
	0% {top:-40%;}
	50% {top:-60%;}
	100% {top:-40%;}
}
@-webkit-keyframes moveUp {
	0% {top:-40%;}
	50% {top:-60%;}
	100% {top:-40%;}
}

@keyframes moveDown {
	0% {bottom:-40%;}
	50% {bottom:-60%;}
	100% {bottom:-40%;}
}
@-webkit-keyframes moveDown {
	0% {bottom:-40%;}
	50% {bottom:-60%;}
	100% {bottom:-40%;}
}

@keyframes moveRight {
	0% {right:-40%;}
	50% {right:-60%;}
	100% {right:-40%;}
}
@-webkit-keyframes moveRight {
	0% {right:-40%;}
	50% {right:-60%;}
	100% {right:-40%;}
}

@keyframes moveLeft {
	0% {left:-40%;}
	50% {left:-60%;}
	100% {left:-40%;}
}
@-webkit-keyframes moveLeft {
	0% {left:-40%;}
	50% {left:-60%;}
	100% {left:-40%;}
}

@keyframes rotateTopLeft {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotateTopLeft {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotateTopRight {
	0% {transform: rotate(0deg) scaleX(-1);}
	100% {transform: rotate(-360deg) scaleX(-1);}
}
@-webkit-keyframes rotateTopRight {
	0% {-webkit-transform: rotate(0deg) scaleX(-1);}
	100% {-webkit-transform: rotate(-360deg) scaleX(-1);}
}

@keyframes rotateBottomLeft {
	0% {transform: rotate(0deg) scaleY(-1);}
	100% {transform: rotate(-360deg) scaleY(-1);}
}
@-webkit-keyframes rotateBottomLeft {
	0% {-webkit-transform: rotate(0deg) scaleY(-1);}
	100% {-webkit-transform: rotate(-360deg) scaleY(-1);}
}

@keyframes rotateBottomRight {
	0% {transform: rotate(0deg) scale(-1,-1);}
	100% {transform: rotate(360deg) scale(-1,-1);}
}
@-webkit-keyframes rotateBottomRight {
	0% {-webkit-transform: rotate(0deg) scale(-1,-1);}
	100% {-webkit-transform: rotate(360deg) scale(-1,-1);}
}

