html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size:13px;
}
canvas {
	max-width:100%;
	max-height:100%;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    background-color: #EEE; /*let's see it!*/
}

.textarea-wrapper {
	overflow:hidden;
}

#functionStart {
	display:block;
}

textarea {
	width:40em;
	height:10em;
	resize:none;
	display:block;
	padding: 0;
	border:0px solid;
	position:relative;
	left:2em;
}

textarea:focus {
    outline: none !important;
    border:medium none;
    box-shadow: none;
}
